# Air (hot reload) generated
.air

# temp folder
tmp

# Frontend asset
web/dist

# Server embedding
server/dist/*
!server/dist/index.html

# build folder
build

.DS_Store

# Jetbrains
.idea

bin/air

db.sqlite

random_emails.txt