.editor-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.title-input {
  font-size: 2rem;
  outline: none;
  padding-bottom: 0.5rem;
  border: none;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 1rem;
  width: 100%;
}

.editor-wrapper{
  .ql-editor {
    min-height: 480px;
  }

  .ql-toolbar {
    @apply border rounded-md;
  }

  .ql-container {
    border: none !important;
  } 
  
  .ql-editor.ql-blank::before{
    font-style: normal;
  }
}
